# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
.venv/

# Banco de dados local (gerado automaticamente pelo init_db())
*.db
*.sqlite3

# Ambiente/segredos
.env

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

locustfile.py